# Markdown for Jupyter Notebook

## Introduction

Welcome to this tutorial on Markdown!

Here is an ordered list of popular programming languages used in data science:

1. Python
2. R
3. Julia
4. SAS
5. MATLAB
6. Scala
7. SQL

These languages are widely used for data analysis, statistical modeling, machine learning, and data visualization tasks.

Here is an ordered list of popular libraries used in data science:

1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. TensorFlow
7. PyTorch
8. Keras
9. XGBoost

These libraries provide essential functionality for data manipulation, analysis, visualization, and machine learning tasks.

## Data Science Tools

| Category         | Tools                                           |
|------------------|-------------------------------------------------|
| Programming      | Python, R, Julia, SAS, MATLAB, Scala            |
| Data Manipulation| NumPy, Pandas, dplyr, data.table                |
| Data Visualization| Matplotlib, Seaborn, ggplot2, Plotly, Tableau  |
| Machine Learning | Scikit-learn, TensorFlow, PyTorch, XGBoost      |
| Big Data         | Apache Hadoop, Apache Spark, Apache Flink       |
| Database         | SQL, MySQL, PostgreSQL, MongoDB, SQLite         |
| Cloud Computing  | Amazon Web Services (AWS), Google Cloud Platform (GCP), Microsoft Azure |
| Version Control  | Git, GitHub, GitLab, Bitbucket                  |
| Notebooks        | Jupyter Notebook, JupyterLab, Google Colab      |
| IDEs             | PyCharm, RStudio, Visual Studio Code (VS Code)  |

The table above showcases various tools commonly used in data science across different categories.

### Arithmetic expression Example

Let's consider a simple arithmetic expression example.

In [8]:
(7 + 6 - 3) * 2

20

### Common arithmetic operations

1. <b>Addition<b>

In [9]:
5 + 9

14

2. <b>Multiplication<b>

In [11]:
5 * 9

45

### Hours to minutes

In [14]:
def convert_hours_to_minutes(hours):
    minutes = hours * 60
    return minutes

# Example
hours = 3
converted_minutes = convert_hours_to_minutes(hours)
print(f"{hours} hours is equal to {converted_minutes} minutes.")

3 hours is equal to 180 minutes.

## Objectives for Markdown

Here are some objectives for learning Markdown:

- Understand the basic syntax of Markdown.
- Learn how to create headings, introduction, and text formatting (such as bold, italic etc.).
- Know how to create lists (both ordered and unordered).
- Understand how to create tables for organizing data.
- Discover advanced Markdown features, such as task lists, footnotes, and horizontal rules.
- Practice using Markdown in Jupyter Notebook and other Markdown-friendly environments.
- Gain proficiency in writing clean and well-formatted Markdown documents for effective communication.

Author name: Mohammad Imteyaz